### Heroes Of Pymoli Data Analysis
* Of the 1163 active players, the vast majority are male (84%). There also exists, a smaller, but notable proportion of female players (14%).

* Our peak age demographic falls between 20-24 (44.8%) with secondary groups falling between 15-19 (18.60%) and 25-29 (13.4%).  
-----

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# Raw data file
file_to_load = "Resources/purchase_data.csv"

# Read purchasing file and store into pandas data frame
purchase_data = pd.read_csv(file_to_load)

#seeing what column heads are
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [2]:
Total_Players = purchase_data.SN.count()
PlayerCount = pd.DataFrame([{"Total Players": Total_Players}])
PlayerCount

   Total Players
0            780

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [3]:
Unique_Items = purchase_data["Item ID"].nunique()
Average_Price = purchase_data["Price"].mean()
Number_Purchase = purchase_data["Item ID"].count()
Total_Purchase = purchase_data["Price"].sum()

#creates dataframe
Purchase = pd.DataFrame([
    {"Unique Items": Unique_Items, "Average Price": Average_Price,
     "Number of Purchases": Number_Purchase, "Total Purchases": Total_Purchase }
])

#formats currency
Purchase["Average Price"] = Purchase["Average Price"].map('${:,.2f}'.format)
Purchase["Total Purchases"] = Purchase["Total Purchases"].map('${:,.2f}'.format)

#prints out table
Purchase

  Average Price  Number of Purchases Total Purchases  Unique Items
0         $3.05                  780       $2,379.77           183

## Gender Demographics

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [4]:
GenderTable = purchase_data[["Gender", "SN"]]
GenderOnly = GenderTable.groupby(['Gender']).count()
#format
GenderOnly["Percentage of Players"] = (100*GenderOnly["SN"]/Total_Players).map('%{:,.2f}'.format)
GenderOnly = GenderOnly.rename(columns={'SN': 'Total Count'})
GenderOnly

                       Total Count Percentage of Players
Gender
Female                         113                %14.49
Male                           652                %83.59
Other / Non-Disclosed           15                 %1.92


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, etc. by gender


* For normalized purchasing, divide total purchase value by purchase count, by gender


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [5]:
TotalPurchase = purchase_data.groupby('Gender')

TotalCount = TotalPurchase['Item ID'].count()

TotalPrice = TotalPurchase['Price'].sum()
TotalPrice = TotalPrice.map('${:,.2f}'.format)

AveragePrice = TotalPurchase['Price'].mean()
AveragePrice = AveragePrice.rename(columns={})
AveragePrice = AveragePrice.map('${:,.2f}'.format)

NormPrice= (TotalPurchase['Price'].sum()).divide(TotalPurchase['Item ID'].count())
NormPrice = NormPrice.map('${:,.2f}'.format)

TableData= pd.concat([TotalCount, TotalPrice, AveragePrice,NormPrice], axis=1)
TableData = TableData.rename(columns={'Item ID': 'Purchase Count', 'Price':'Total Price',
                                      0:'Average Price', 1:'Normalized Price'
                                     })
TableData

,Purchase Count,Total Price,Average Price,Normalized Price
Gender,,,,
Female,113,$361.94,$3.20,$3.20
Male,652,"$1,967.64",$3.02,$3.02
Other / Non-Disclosed,15,$50.19,$3.35,$3.35

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [6]:
# Establish bins for ages
age_bins = [0, 9.90, 14.90, 19.90, 24.90, 29.90, 34.90, 39.90, 99999]
group_names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

bins = pd.cut(purchase_data['Age'],age_bins)

AgeCount = purchase_data.groupby(bins)['Age'].count()
AgeCount = AgeCount.rename(columns={})

AgePercentage = (AgeCount/Total_Players) * 100
AgePercentage = AgePercentage.map('%{:.2f}'.format)

AgeDem = pd.concat([AgeCount, AgePercentage],axis=1)
AgeDem.index = group_names
AgeDem = AgeDem.rename(columns={0: 'Total', 1: 'Percentage'})
AgeDem

       Total Percentage
<10       23      %2.95
10-14     28      %3.59
15-19    136     %17.44
20-24    365     %46.79
25-29    101     %12.95
30-34     73      %9.36
35-39     41      %5.26
40+       13      %1.67

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, etc. in the table below


* Calculate Normalized Purchasing


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [7]:
PurchaseCount = purchase_data.groupby(bins)['Item ID'].count()

AvgPrice = purchase_data.groupby(bins)['Price'].mean()
AvgPrice = AvgPrice.rename(columns={})
AvgPrice = AvgPrice.map('${:,.2f}'.format)

SumPrice = purchase_data.groupby(bins)['Price'].sum()
SumPrice = SumPrice.map('${:,.2f}'.format)

NormPrice = (purchase_data.groupby(bins)['Price'].sum()).divide(purchase_data.groupby(bins)['Item ID'].count())
NormPrice = NormPrice.map('${:,.2f}'.format)

BinData = pd.concat([PurchaseCount, AvgPrice, SumPrice, NormPrice], axis = 1)
BinData = BinData.rename(columns={'Item ID': 'Purchase Count',
                                  0: 'Average Price',
                                  'Price': 'Total Purchase',
                                  1: 'Normalized Price'
                                 })
BinData.index = group_names
BinData

       Purchase Count Average Price Total Purchase Normalized Price
<10                23         $3.35         $77.13            $3.35
10-14              28         $2.96         $82.78            $2.96
15-19             136         $3.04        $412.89            $3.04
20-24             365         $3.05      $1,114.06            $3.05
25-29             101         $2.90        $293.00            $2.90
30-34              73         $2.93        $214.00            $2.93
35-39              41         $3.60        $147.67            $3.60
40+                13         $2.94         $38.24            $2.94

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [60]:
SN_Table = purchase_data.loc[:,["SN", "Item ID", "Price"]]


SN_Table= purchase_data.groupby('SN')
Purchase_Count= SN_Table['SN'].count()
Total_Purchase=SN_Table['Price'].sum().map('${:,.2f}'.format)
Average_Purchase = SN_Table['Price'].mean().map('${:,.2f}'.format)
#SN_Table = purchase_data.groupby('SN')['Price'].mean()

NewTable = pd.DataFrame({"Purchase Count": Purchase_Count,
                                    "Total Purchase Value": Total_Purchase,
                                    "Average Purchase Price":Average_Purchase})

NewTable = NewTable.sort_values(by=['Total Purchase Value'], ascending = False)

NewTable.head()

              Purchase Count Total Purchase Value Average Purchase Price
SN
Haillyrgue51               3                $9.50                  $3.17
Phistym51                  2                $9.50                  $4.75
Lamil79                    2                $9.29                  $4.64
Aina42                     3                $9.22                  $3.07
Saesrideu94                2                $9.18                  $4.59

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [69]:
Pop_Table = purchase_data[["Item Name","Item ID", "Price"]]
Pop_Table= Pop_Table.groupby(['Item ID', "Item Name"])

Pop_Purchase=Pop_Table['Price'].sum().map('${:,.2f}'.format)
Average_Pop = Pop_Table['Price'].mean().map('${:,.2f}'.format)
Pop_Count = Pop_Table['Item ID'].count()

Pop_Table= pd.DataFrame({"Purchase Count": Pop_Count,
                                    "Total Purchase Value": Pop_Purchase,
                                    "Average Purchase Price":Average_Pop})

Pop_Table_1 = Pop_Table.sort_values(by=['Purchase Count'], ascending = False)

Pop_Table_1

,,Purchase Count,Total Purchase Value,Average Purchase Price
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$50.76,$4.23
145,Fiery Glass Crusader,9,$41.22,$4.58
108,"Extraction, Quickblade Of Trembling Hands",9,$31.77,$3.53
82,Nirvana,9,$44.10,$4.90
19,"Pursuit, Cudgel of Necromancy",8,$8.16,$1.02
103,Singed Scalpel,8,$34.80,$4.35
75,Brutality Ivory Warmace,8,$19.36,$2.42
72,Winter's Bite,8,$30.16,$3.77
60,Wolf,8,$28.32,$3.54
59,"Lightning, Etcher of the King",8,$33.84,$4.23
37,"Shadow Strike, Glory of Ending Hope",8,$25.28,$3.16
34,Retribution Axe,8,$17.76,$2.22
92,Final Critic,8,$39.04,$4.88
53,Vengeance Cleaver,7,$14.35,$2.05
110,Suspension,7,$10.08,$1.44
7,"Thorn, Satchel of Dark Souls",7,$9.31,$1.33
71,Demise,7,$11.27,$1.61
117,"Heartstriker, Legacy of the Light",7,$12.53,$1.79
159,"Oathbreaker, Spellblade of Trials",7,$21.56,$3.08
85,Malificent Bag,7,$12.25,$1.75
164,Exiled Doomblade,7,$11.41,$1.63
141,Persuasion,7,$22.33,$3.19
78,"Glimmer, Ender of the Moon",7,$30.80,$4.40
102,Avenger,6,$20.64,$3.44
129,"Fate, Vengeance of Eternal Justice",6,$9.24,$1.54
93,Apocalyptic Battlescythe,6,$11.82,$1.97
54,Eternal Cleaver,6,$15.00,$2.50
3,Phantomlight,6,$14.94,$2.49
2,Verdict,6,$14.88,$2.48
40,Second Chance,6,$15.12,$2.52
...,...,...,...,...
81,Dreamkiss,2,$7.22,$3.61
6,Rusty Skull,2,$7.40,$3.70
18,"Torchlight, Bond of Storms",2,$9.30,$4.65
26,Unholy Wand,2,$2.24,$1.12
28,"Flux, Destroyer of Due Diligence",2,$2.12,$1.06
30,Stormcaller,2,$4.42,$2.21
158,"Darkheart, Butcher of the Champion",2,$4.90,$2.45
69,"Frenzy, Defender of the Harvest",2,$3.96,$1.98
132,Persuasion,2,$6.66,$3.33
63,Stormfury Mace,2,$9.98,$4.99
56,Foul Titanium Battle Axe,2,$5.84,$2.92
127,"Heartseeker, Reaver of Souls",2,$7.84,$3.92
48,"Rage, Legacy of the Lone Victor",2,$4.96,$2.48
125,Whistling Mithril Warblade,2,$2.00,$1.00
43,Foul Edge,2,$7.08,$3.54
115,Spectral Diamond Doomblade,2,$4.08,$2.04
33,Curved Axe,2,$2.32,$1.16
31,Trickster,2,$3.10,$1.55
118,"Ghost Reaver, Longsword of Magic",1,$2.17,$2.17
47,"Alpha, Reach of Ending Hope",1,$3.58,$3.58
42,The Decapitator,1,$1.75,$1.75
27,"Riddle, Tribute of Ended Dreams",1,$3.30,$3.30
126,Exiled Mithril Longsword,1,$2.00,$2.00
51,Endbringer,1,$4.66,$4.66
90,Betrayer,1,$2.94,$2.94
104,Gladiator's Glaive,1,$1.93,$1.93
23,Crucifer,1,$1.99,$1.99
180,Stormcaller,1,$3.36,$3.36
91,Celeste,1,$4.17,$4.17
134,Undead Crusader,1,$4.50,$4.50

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [70]:
Pop_Table_2 = Pop_Table.sort_values(by=['Total'], ascending = False)
#Pop_Table_2.head(

KeyError: 'Total'